@import "compass/reset";
@import "shake";

@mixin vertical-align($top,$left) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin ease-animation($time) {
	-webkit-transition: ease-in-out all $time;
	-moz-transition: ease-in-out all $time;
	-o-transition: ease-in-out all $time;
	transition: ease-in-out all $time;
}

@mixin no-user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif !important;
}

body {
	background: rgb(226, 177, 103);
	@include ease-animation(0.5s);
} 

body.angry {
	background: #E26767;
}

h1 {
	font-size: 40px;
	color: white;
	font-weight: 300;
	text-align: center;
	margin-top: 30px;
	opacity: 0;
	@include ease-animation(1s);
}

h1.visible {
	opacity: 1;
}

.holder {
	width: 380px;
	height: 560px;
	margin: 40px auto;
	position: relative;
	border-radius: 5%;
}


.content {
	@extend .holder;
	padding: 5px;
}

.row {
	width: 80%; 
	margin: 40px auto;
	clear: left;
}

.button {
	position: relative;
	border: 1px solid white;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin: 0 15px 20px 0;
	@include ease-animation(1s);
	opacity: 0;
	@include no-user-select;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.visible {
		opacity: 1;
	}
	&:hover {
		@include ease-animation(0.3s);
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
		-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.65);
		box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	}

	.button-content	{
		display: block;
		text-align: center;
		position: absolute;
		font-size: 50px;
		font-weight: 300;
		text-align: center;
		color: white;
		top: 45%;
		width: 100%;
	}
}

.touch .button:hover {
	&:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}


.button:active, .button:focus {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.65);
}

.button.shake {
	cursor: auto;
	&:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}


@media (max-width: 480px) {
	body, html {
		height: 100%;
	}
	.content {
		width: 100%;
		margin-top: 0;
		height: auto;
		border-radius: 0;
	}

	.cover {
		width: 100%;
		height: 100%;
		display: table;
		margin: 0;
		min-height: 560px;
		border-radius: 0px;
	}

	.holder {
		width: 100%;
		margin: 0 auto;
	}

	.row {
		width: 90%;
	}
}