/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen (copy).scss */
* {
  box-sizing: boder-box;
}

/* line 37, ../sass/screen (copy).scss */
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif !important;
}

/* line 42, ../sass/screen (copy).scss */
body {
  background: #eeeeee;
}

/* line 46, ../sass/screen (copy).scss */
h1 {
  font-size: 21px;
  text-align: center;
  margin-top: 30px;
}

/* line 52, ../sass/screen (copy).scss */
.holder, .content, .cover {
  width: 380px;
  height: 560px;
  margin: 40px auto;
  position: relative;
  border-radius: 5%;
}

/* line 61, ../sass/screen (copy).scss */
.content {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

/* line 70, ../sass/screen (copy).scss */
.cover {
  background: lightgrey;
  position: absolute;
  top: -9999px;
  padding: 30px;
  opacity: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: ease-in-out all 1s;
  -moz-transition: ease-in-out all 1s;
  -o-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
}
/* line 82, ../sass/screen (copy).scss */
.cover.open {
  top: 0;
  opacity: 1;
}
/* line 87, ../sass/screen (copy).scss */
.cover .cover-close {
  display: block;
  cursor: pointer;
  float: right;
  color: darkgrey;
  font-weight: bold;
}
/* line 95, ../sass/screen (copy).scss */
.cover #cover-content {
  padding: 30px 0 0 0;
}
/* line 98, ../sass/screen (copy).scss */
.cover #cover-content h3 {
  font-size: 30px;
  text-align: center;
  color: white;
  line-height: 60px;
}
/* line 105, ../sass/screen (copy).scss */
.cover #cover-content h4 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 40px;
  margin-top: 20px;
}
/* line 114, ../sass/screen (copy).scss */
.cover #cover-content.high h3, .cover #cover-content.high h4 {
  color: red;
}
/* line 119, ../sass/screen (copy).scss */
.cover #cover-content.low h3, .cover #cover-content.low h4 {
  color: orange;
}
/* line 124, ../sass/screen (copy).scss */
.cover #cover-content.correct h3, .cover #cover-content.correct h4 {
  color: green;
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
}
/* line 133, ../sass/screen (copy).scss */
.cover #cover-content img.success-image {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

/* line 144, ../sass/screen (copy).scss */
.row {
  width: 80%;
  margin: 40px auto;
  clear: left;
}

/* line 150, ../sass/screen (copy).scss */
p.dots {
  font-size: 38px;
  color: lightgrey;
  text-align: center;
  margin: 10px 0 -20px;
  height: 30px;
}

/* line 159, ../sass/screen (copy).scss */
.button, .cancel, input[type="submit"] {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 50%;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 15px 20px 0;
  -webkit-transition: ease-in-out all 0.3s;
  -moz-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 175, ../sass/screen (copy).scss */
.button:first-child, .cancel:first-child, input[type="submit"]:first-child {
  margin-left: 10px;
}
/* line 178, ../sass/screen (copy).scss */
.button:last-child, .cancel:last-child, input[type="submit"]:last-child {
  margin-right: 0;
}
/* line 181, ../sass/screen (copy).scss */
.button:hover, .cancel:hover, input[type="submit"]:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
}
/* line 188, ../sass/screen (copy).scss */
.button .button-content, .cancel .button-content, input[type="submit"] .button-content {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 196, ../sass/screen (copy).scss */
.button span.number, .cancel span.number, input[type="submit"] span.number {
  display: block;
  color: grey;
  font-size: 28px;
}
/* line 201, ../sass/screen (copy).scss */
.button span.sub, .cancel span.sub, input[type="submit"] span.sub {
  display: block;
  color: grey;
  font-size: 16px;
  position: absolute;
  font-size: 11px;
  width: 50px;
  height: 20px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: -6%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 216, ../sass/screen (copy).scss */
.touch .button:hover:hover, .touch .cancel:hover:hover, .touch input[type="submit"]:hover:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 224, ../sass/screen (copy).scss */
.cancel {
  background: #ffc863;
}
/* line 227, ../sass/screen (copy).scss */
.cancel .number {
  color: white;
}

/* line 232, ../sass/screen (copy).scss */
input[type="submit"] {
  background: #91E381;
  font-size: 20px;
}

/* line 240, ../sass/screen (copy).scss */
.row.bottom .button .button-content, .row.bottom .cancel .button-content, .row.bottom input[type="submit"] .button-content {
  top: 55%;
}

/* line 245, ../sass/screen (copy).scss */
.button:active, .cancel:active, input[type="submit"]:active, .button:focus, .cancel:focus, input[type="submit"]:focus {
  background: #83cc75 !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
}

@media (max-width: 480px) {
  /* line 254, ../sass/screen (copy).scss */
  body {
    background: white;
    height: 100%;
  }

  /* line 258, ../sass/screen (copy).scss */
  html {
    height: 100%;
  }

  /* line 261, ../sass/screen (copy).scss */
  .content {
    width: 100%;
    margin-top: 0;
    height: auto;
    border-radius: 0;
  }

  /* line 268, ../sass/screen (copy).scss */
  .cover {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0;
    min-height: 560px;
    border-radius: 0px;
  }

  /* line 277, ../sass/screen (copy).scss */
  .holder, .content, .cover {
    width: 100%;
    margin: 0 auto;
  }

  /* line 282, ../sass/screen (copy).scss */
  .row {
    width: 90%;
  }
}
